@using Psychotype_HSE.Models
@model PageDataModel

@{
    Layout = null;
    ViewBag.Title = "DefaultTemplate";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style type="text/css">
        @@font-face {
            font-family: Molot;
            src: url("@Url.Content("~/Content/Template/src/fonts/Molot.otf")") format("opentype");
        }
        @@font-face {
            font-family: BeerMoney;
            src: url("@Url.Content("~/Content/Template/src/fonts/beer money.ttf")");
        }

        @@font-face {
            font-family: Andika;
            src: url("@Url.Content("~/Content/Template/src/fonts/Andika-R.ttf")");
        }
    </style>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Template/src/css/index.css")">


</head>
<body>

    <div class="logobox">
        <a class="logo">
            PHSE'19
        </a>
    </div>
    @using (Html.BeginForm("MostPopularWords", "Home", FormMethod.Post))
    {
        <nav class="searchbar">
            @Html.TextBoxFor(m => m.Id, new { style = "padding: 0px", name = "id", placeholder = "Введите id существующего открытого профиля vk.com", @class = "searchline" })
            @Html.ValidationMessageFor(m => m.Id)
            <button class="searchbutton" type="submit">
                <img src="~/Content/Template/src/img/palm-scan.png" width="25" height="25" alt="submit" />
            </button>
        </nav>
    }
    <div class="data">
        <div class="contblock" id="Type">
            <div class="contdescr">
                <img src="~/Content/Template/src/img/robo-logo-black.png" style="
                            position: absolute;
        margin-left: 11px;
        height: 55px;
        width: 55px;
        margin-top: -2px;    margin-bottom: 150px;" />
                <div>
                    <h3>Оценка типа аккаунта</h3>
                </div>
                <button class="hidebutton" type="submit">
                    <img src="~/Content/Template/src/img/expand_arrow1600.png" alt="hide-btn" />
                </button>
            </div>
            <div class="contdata" style="display: block;">
                @if (Model != null && PageDataModel.isLinkValid)
                {
                    double prob = PageDataModel.BotProbability;
                    double suic = PageDataModel.SuicideProbability;

                    <h4>
                        Вероятность того, что эта страница - бот: @string.Format("{0:f2}", prob);
                    </h4>
                    if (prob > 0.5)
                    {
                        <p>
                            Аккаунт не является персональной страницей настоящего человека с высокой вероятностью.
                        </p>
                    }
                    else
                    {
                        <p>
                            Скорее всего аккаунт является персональной страницей настоящего человека.
                        </p>
                    }
                    if (PageDataModel.HasWords)
                    {
                        <h4>
                            Вероятность наличия суицидальных наклонностей у пользователя: @string.Format("{0:f2}", suic)
                        </h4>

                        if (suic > 0.2)
                        {
                            <p>
                                Такой уровень показателя может свидетельствовать об опасности для пользователя,
                                и являться причиной для обращения за квалифицированной помощью.
                            </p>
                        }
                        else
                        {
                            <p>
                                Содержание постов пользователя не выражает суицидальных наклонностей и имеет в целом нейтральный окрас.
                            </p>
                        }
                    }
                    else
                    {
                        <h4>Невозможно предсказать суицидальные наклонности. Нет общедоступных данных.</h4>
                    }
                    <p>
                        Анализ суицидальных наклонностей проводится на основании содержания текстов на странице с использованием технологии глубокого обучения.
                    </p>

                }
            </div>
        </div>
        <div class="contblock" id="Rare">
            <div class="contdescr">
                <img src="~/Content/Template/src/img/latency.png" style="position: absolute; margin-left: 15px;" />
                <div>
                    <h3>Самые популярные слова</h3>
                </div>
                <button class="hidebutton" type="submit">
                    <img src="~/Content/Template/src/img/expand_arrow1600.png" alt="hide-btn" />
                </button>
            </div>
            <div class="contdata" style="display: block;">
                @if (Model != null && PageDataModel.isLinkValid)
                {

                    if (PageDataModel.HasWords)
                    {
                        List<Tuple<String, List<String>>> popularWords = PageDataModel.PopularWords.response;
                        <ol>
                            @foreach (Tuple<String, List<String>> item in popularWords)
                            {
                                String link = PageDataModel.PopularWordsAtributes.dictLink + item.Item1;
                                <li>
                                    <a href="@link">
                                        @item.Item1
                                    </a>
                                    <ul>
                                        @foreach (String word in item.Item2)
                                        {
                                            link = PageDataModel.PopularWordsAtributes.dictLink + word;
                                            <li>
                                                <a href="@link">
                                                    @word
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ol>
                    }
                    else
                    {
                        <h4> На странице нет постов за последний месяц, видимых всем пользователями, содержащих слова. </h4>
                    }
                }
            </div>
        </div>
        <div class="contblock" id="Test">
            <div class="contdescr">
                <img src="~/Content/Template/src/img/test_partial_passed1600.png" style="position: absolute; margin-left: 15px;" />
                <div>
                    <h3>Типология Майерс-Бриггс</h3>
                </div>
                <button class="hidebutton" type="submit">
                    <img src="~/Content/Template/src/img/expand_arrow1600.png" alt="hide-btn" />
                </button>
            </div>
            <div class="contdata" style="display: block;"></div>
        </div>

        <div class="contblock" id="Latency">
            <div class="contdescr">
                <img src="~/Content/Template/src/img/graph.png" style="position: absolute; margin-left: 15px;" />
                <div>
                    <h3>Частота появления слов</h3>
                </div>
                <button class="hidebutton" type="submit">
                    <img src="~/Content/Template/src/img/expand_arrow1600.png" alt="hide-btn" />
                </button>
            </div>
            <div class="contdata" style="display: block;"></div>
        </div>


    </div>
    <div class="info">
        <div class="contdescr"><h3 style="margin-left: 35px;">Информация профиля</h3></div>
        <div class="contdata">
            <h4>
                @PageDataModel.FullName
            </h4>
            <ul>
                @foreach (string descr in PageDataModel.Description)
                {
                    <li>
                        @descr
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="nav">
        <div class="navbuttons">
            <div class="buttongroup">
                <button class="navbutton" onclick=" window.location.href='#Latency'">
                    <img src="~/Content/Template/src/img/graph.png" />
                    <h3>Частоты слов</h3>
                </button>
                <button class="navbutton" onclick=" window.location.href='#Test'">
                    <img src="~/Content/Template/src/img/test_partial_passed1600.png">
                    <h3>Типология</h3>
                </button>
                <button class="navbutton" onclick=" window.location.href='#Rare'">
                    <img src="~/Content/Template/src/img/latency.png" />
                    <h3>Популярные</h3>
                </button>
                <button class="navbutton" onclick=" window.location.href='#Type'">
                    <img src="~/Content/Template/src/img/robo-logo-black.png" style="
                            height: 55px;
                            width: 55px;" />
                    <h3 style="margin-left: 20px; margin-top: 9px;">Тип</h3>
                </button>
                <button class="navbutton" onclick="document.getElementsByClassName('searchline')[0].focus()">
                    <img src="~/Content/Template/src/img/palm-scan.png" />
                    <h3>Поиск</h3>
                </button>
            </div>
            <div style="width:auto; height:auto;">
                <img class="image" src="@PageDataModel.PhotoURL" />
            </div>
        </div>
    </div>
</body>
<script src="~/Content/Template/src/js/script.js"></script>
</html>